.state {
	-fx-background-color: #ffffc6;
	-fx-border-color: #d0d000;
	-fx-border-width: 2px;
}

.workflow-name {
	-fx-padding: 10px;
	-fx-text-alignment: center;
}

.active-from {
	-fx-background-color: #d7ffd7;
	-fx-border-color: #00b300;
}

.active-to {
	-fx-background-color: #ffaea8;
	-fx-border-color: #9c0a00;
}

.connectionLine-hover {
	-fx-stroke: #FF8000;
}